# Scalable Real-Time Scientific Data Pipeline

## Project Overview
This notebook explains and validates a real-time data pipeline built using
Apache Kafka and Python.

The project focuses on generating, streaming, processing, and storing
continuous scientific-style event data in real time.

This notebook is intended for **project explanation and analysis**, not for
running the live Kafka pipeline.

## Pipeline Architecture

The pipeline consists of the following stages:

1. Event Generation  
   - Synthetic events are generated continuously
   - Each event represents a scientific measurement

2. Message Streaming  
   - Events are published to a Kafka topic
   - Kafka acts as a message broker

3. Real-Time Processing  
   - Consumers read events from Kafka
   - Events are analyzed and filtered in real time

4. Output Storage  
   - Processed data is saved as CSV and JSON files
   - Results are stored for further analysis

## Event Data Format

Each generated event contains:
- Event ID
- Timestamp
- Category or type
- Numeric measurement value
- Derived flags (e.g., anomaly indicator)

The data is designed to resemble real-world streaming measurements.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", None)

In [9]:
df = pd.read_csv(r"D:\Kafka_Spark_Pipeline\data\all_events_final.csv")
df.head()

,event_id,timestamp,particle_type,energy_gev,momentum_x,momentum_y,momentum_z,detector_id,is_anomaly
0,9108295,2026-01-16T11:55:58.677774,proton,157.37,-10.29,-358.97,-38.87,DET_003,False
1,7467516,2026-01-16T11:55:58.778429,electron,91.21,-492.67,18.56,-339.39,DET_001,False
2,5913047,2026-01-16T11:55:58.879298,muon,484.51,354.87,68.25,134.45,DET_001,False
3,5120905,2026-01-16T11:55:58.980598,muon,460.61,340.40,21.13,343.51,DET_003,False
4,7558052,2026-01-16T11:55:59.083740,proton,841.47,400.07,-96.59,75.05,DET_003,False

In [10]:
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 3219
Columns: 9

In [11]:
df.columns

Index(['event_id', 'timestamp', 'particle_type', 'energy_gev', 'momentum_x',
       'momentum_y', 'momentum_z', 'detector_id', 'is_anomaly'],
      dtype='object')

In [12]:
df.describe()

           event_id   energy_gev   momentum_x   momentum_y   momentum_z
count  3.219000e+03  3219.000000  3219.000000  3219.000000  3219.000000
mean   5.535574e+06   502.700438     3.507965     1.140140    -2.564713
std    2.591737e+06   285.778496   290.209077   289.366623   286.202867
min    1.009326e+06     0.940000  -499.940000  -500.000000  -499.820000
25%    3.303188e+06   258.250000  -250.405000  -244.765000  -251.465000
50%    5.561479e+06   500.160000     2.530000    -2.550000    -8.120000
75%    7.762143e+06   751.265000   260.440000   255.300000   244.060000
max    9.998354e+06   999.610000   499.980000   499.270000   499.640000

In [15]:
df["energy_gev"].describe()

count    3219.000000
mean      502.700438
std       285.778496
min         0.940000
25%       258.250000
50%       500.160000
75%       751.265000
max       999.610000
Name: energy_gev, dtype: float64

## Notebook Purpose

This notebook presents the final dataset generated by the streaming data
pipeline. The data shown here is synthetic and produced programmatically
to demonstrate real-time ingestion, processing, and storage.

The notebook is used only for:
- Verifying final outputs
- Quick inspection of processed results
- Providing a clean overview of the project data